*, *:before, *:after, hr, hr:before, hr:after, input[type="search"], input[type="search"]:before, input[type="search"]:after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	height: 100%;
	overflow-x: hidden;
	background: url("../img/lmap-fade.jpeg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	background-color:rgba(255,0,0,0);
	height: 100%;
	font-family: AvenirNext LT Pro Regular;
	font-size: 16px;
}
/*Navbar */
.navbar {
	background: transparent;
	border-bottom: none;
	z-index: 1000;
	top: 20px;
	width: 100%;
	position: relative;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: rgba(223, 206, 140, 0.63);
}
.navbar-default .navbar-toggle {
	border-color: #f1c40f;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #f1c40f;
}
.navbar-default .navbar-nav>li>a {
	font-size: 100%;
}
.navbar-default .navbar-nav>li>input {
	font-size: 100%;
}

/* Text */
.banner-text {
	font-family: AvenirNext LT Pro Demi;
	font-size: 300%;
	color: #FFFFFF;
	line-height: 50px;
	/* Let us do your renta: */
	text-shadow: 0px 2px 0px rgba(0,0,0,0.50);
	text-align: center;
	margin-top: 10%;
}
.banner-text-sub {
	font-family: AvenirNext LT Pro Regular;
	font-size: 140%;
	color: #FFFFFF;
	line-height: 30px;
	/* Curated property lis: */
	text-shadow: 0px 2px 3px rgba(0,0,0,0.50);
	text-align: center;
	margin-top: 20px;
}
.banner-text-sub>h1 {
	font-size: 150%;
	margin-bottom: 4%;
}

#action-box {
	border-radius: 6px;
	/* Rectangle 8: */
	background: rgba(255,255,255,0.33);

	width:520px;
	height:50%;

	position: relative;
	left: 50%;
	margin-left: -260px;
	margin-top: 8%;
	margin-bottom: 5%;
	overflow:hidden;
	padding: 10px 28px;
}
#action-box>p {
	font-size: 145%;
	color: #fff;
	text-shadow: 0px 2px 0px rgba(0,0,0,0.50)
}

.navbar-default .navbar-nav>li>a.btn-nav {
	width: inherit;
	padding: 7px 7px;
	margin: 7px 7px 0 0;
}
.navbar-default .navbar-nav>li>a.btn-nav:hover {
	background: #E5D07D;
}
/* Mobile devices (phones, up to 768px) */
@media (max-width: 768px) { 
	#action-box {
		width: 100%;
		left: 0;
		margin-left: 0;
	}
	.navbar {
		top: 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		background-color: rgba(11, 11, 11, 0.15);
	}
}
