<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0;">
  <title>HouseQuest - Search London together</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/cupertino/jquery-ui.css">
  <link rel="stylesheet" href="css/bootstrap-tagsinput.css">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/search.css">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-37859939-3', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body id="app-container">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">House<span>Q</span>uest</a>
      </div> <!-- navbar-header -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#"><span class="glyphicon glyphicon-th-large"></span> Feed</a></li>
          <li><a href="#"><span class="glyphicon glyphicon glyphicon-globe"></span> Activity</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-map-marker"></span> Explore <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Clerkenwell</a></li>
              <li><a href="#">Islingdon</a></li>
              <li><a href="#">Willesden</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right button-container">

        </ul>
      </div><!-- /.navbar-collapse -->
    </div> <!-- .container-fluid -->
  </nav> <!-- .navbar.navbar-default.navbar-fixed-top -->

  <div class="content container-fluid">
    <div class="row height-full">
      <div class="col-content col-sm-7 col-xs-12 height-full">
        <div class="container-fluid">
          
          <div id="search-container" class="row">
          </div> <!-- #search-container.row -->
          
          <div id="list-container" class="row row-condensed">
          </div>  <!-- #list-container.row -->
        
        </div> <!-- .container-fluid -->
      </div> <!-- .col-sm-7.col-xs-12.height-full -->

      <div class="col-map col-sm-5 hidden-xs height-full no-padding">
        <div id="map-container" class="height-full">
          <div id="transit-wpr" style="padding-top: 6px;">
            <a id="transit">
              <img src='./img/transit-layer.png' width="50%" height="50%" id="transit" />
            </a>
          </div>
          <div id="map-canvas" class="height-full"></div>
        </div> <!-- #map-container.height-full -->
      </div> <!-- .col-sm-5.hidden-xs.height-full.no-padding -->
    </div> <!-- .row.height-full -->
  </div> <!-- #app-container.container-fluid.height-full -->

  <!-- Templates -->
  <script type="text/template" id="nav-login-template">
    <li><input type="submit" class="login-fb" value="Sign up"></li>
    <li><input type="submit" class="login-fb" value="Log in"></li>
  </script>

  <script type="text/template" id="nav-main-template">
    <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <img class="img-circle img-thumbnail img-profile"height="28" width="28" src="<%= Parse.User.current().get('profile_image_url') %>" alt="Your profile">
          <%= _.escape(Parse.User.current().get("first_name")) %> <span class="caret"></span></a>
          <ul class="dropdown-menu tooltip-top-right" role="menu">
            <li><a href="#">Update profile</a></li>
            <li><a href="#">Modify alerts</a></li>
            <li class="divider"></li>
            <li><a class="log-out" href="#">Log out</a></li>
          </ul>
    </li>
  </script>

  <script type="text/template" id="search-template">
    <div class="container-fluid">
      <div class="row row-filter">
        <div class="col-xs-12 col-sm-4 col-label">
          <label>Boroughs</label>
        </div> <!-- .col-xs-4.col-label -->

        <div class="col-xs-12 col-sm-8 col-input">
          <input type="text" class="form-control" data-role="tagsinput" id="areas"
          value="<%= _.escape(areas.join()) %>" placeholder="Where do you want to live?"/>
        </div> <!-- .col-xs-8.col-input -->
      </div> <!-- .row.row-filter -->

      <div class="row row-filter">
        <div class="col-xs-12 col-sm-4 col-label">
          <label>Bedrooms</label>
        </div> <!-- .col-xs-4.col-label -->

        <div class="col-xs-12 col-sm-8 col-input">
          <label class="checkbox-inline">
            <input type="checkbox" class="num-beds-select" value="0" <%= _.contains(num_beds,0) ? 'checked="checked"' : '' %>> Studio
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" class="num-beds-select" value="1" <%= _.contains(num_beds,1) ? 'checked="checked"' : '' %>> 1 bed
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" class="num-beds-select" value="2" <%= _.contains(num_beds,2) ? 'checked="checked"' : '' %>> 2 bed
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" class="num-beds-select" value="3" <%= _.contains(num_beds,3) ? 'checked="checked"' : '' %>> 3 bed
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" class="num-beds-select" value="4" <%= _.contains(num_beds,4) ? 'checked="checked"' : '' %>> 4 +
          </label>
        </div> <!-- .col-xs-8.col-input -->
      </div> <!-- .row.row-filter -->

      <div class="row row-filter">
        <div class="col-xs-12 col-sm-4 col-label">
          <label>Price range</label>
        </div> <!-- .col-xs-4.col-label -->

        <div class="col-xs-12 col-sm-8 col-input">
          <div class="price-range-slider"></div>
          <input type="text" readonly id="price-min" value="<%= price_min %>">
          <input type="text" readonly id="price-max" value="<%= price_max %>">          
        </div> <!-- .col-xs-8.col-input -->
      </div> <!-- .row.row-filter -->

      <div class="row row-filter">
        <div class="col-xs-4 col-label">
          <label>With images</label>
        </div> <!-- .col-xs-4.col-label -->

        <div class="col-xs-8 col-input">
          <div class="checkbox">
            <label>
              <input id="with-photos" type="checkbox" <%= with_photos ? 'checked="checked"' : '' %>> Require with pictures
            </label>
          </div>
        </div> <!-- .col-xs-8.col-input -->
      </div> <!-- .row.row-filter -->

      <div class="row row-filter centered">
        <button type="button" class="btn btn-default btn-save">Save changes</button>
      </div> <!-- .row.row-filter -->
    </div> <!-- .container-fluid -->   
  </script>
  
  <script type="text/template" id="listing-template">
    <div class="listing-container col-sm-12 col-md-6">
      <div class="listing-content">
        <div class="listing-photos">
          <a href="<%= details_url %>" class="photo photo-cover">
            <div class="listing-img-container photo-cover centered">
              <% _.each(image_urls, function(image_url) { %>
              <img src="<%= image_url %>" class="img-responsive-height " alt="">
              <% }); %>
            </div> <!-- .listing-img-container.photo-cover.centered -->
          </a> <!-- .photo.photo-cover -->

          <div class="target-prev target-control block-link">
            <i class="icon icon-chevron-left icon-size-2 icon-white"></i>
          </div> <!-- .target-prev.target-control.block-link -->

          <div class="photo-overlay-bottom-left photo-overlay-label photo-overlay-listing-label">
            <div>
              <sup class="h6 text-contrast">£</sup>
              <span class="h3 price-amount"><%= price_per_month %></span>
              <sup class="h6 text-contrast"></sup>
            </div>
          </div> <!-- .photo-overlay-bottom-left.photo-overlay-label.photo-overlay-listing-label -->

          <div class="target-next target-control block-link">
            <i class="icon icon-chevron-right icon-size-2 icon-white"></i>
          </div> <!-- .target-next.target-control -->
        </div> <!-- .listing-photos -->

        <div class="container-fluid listing-footer">
          <div class="row listing-footer-row listing-info">
            <div class="listing-footer-item listing-info-text">
              <span class="listing-info-location">
              <%= outcode + ", " + borough %>
              </span></br>
              <span class="listing-info-stats text-small">
                <%= dateDiff(last_published_date.iso) + ' &#149; ' +  num_comments + ' comments' %>
              </span>
            </div> <!-- .listing-info-text -->

            <div class="listing-footer-item listing-info-transit centered">
              <span class="listing-nearest-transit text-small">Farringdon</span>
            </div> <!-- .listing-info-transit -->
          </div> <!-- .listing-footer-item.listing-info -->

          <div class="scrollArea scrollAreaEmpty scrollAreaOpen scrollAreaInitialized" style="height:0px;">
            <div class="scrollAreaContents"></div>
          </div>

          <div class="listing-comment-composer">
            <div class="listing-comment-text">
              <form class="listing-comment-form">
                <input type="text" placeholder="Write a comment..." class="faded-text-field listing-comment-text-field">
              </form>
            </div> <!-- .listing-comment-text -->
          </div> <!-- .timeline-comment-composer --> 
        </div> <!-- .listing-footer -->
      </div> <!-- .listing-content -->
    </div>
  </script>

  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script src="//www.parsecdn.com/js/parse-1.2.13.min.js"></script>
  <script src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="js/typeahead.bundle.min.js"></script>
  <script src="js/bootstrap-tagsinput.min.js"></script>
  <script src="js/pace.min.js"></script>

  <script src="js/search.js"></script>
</body>
</html>
